@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_outward,arrow_forward');

/* Ton CSS ici */

:root {
    --blue100: #000C5C;
    --blue90: #001285;
    --blue80: #0017AD;
    --blue-main: #001DD6;
    --blue60: #0D2DFF;
    --blue50: #3953FF;
    --blue40: #6479FF;
    --blue30: #909EFF;
    --blue20: #BBC4FF;
    --blue10: #E7EAFF;
}

body {
    font-family: "Host Grotesk", sans-serif;
    background-color: var(--blue-main);
    margin-right: 7.5rem;
    margin-left: 7.5rem;
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    color: var(--blue10);

    transition: color 0.4s ease;
}

h2{
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    color: var(--blue10);
}

h3{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: var(--blue10);
}

p{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    color: var(--blue20);
    line-height: 1.5rem;
}

.small{
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: var(--blue10);
}

a#header:hover {
    text-decoration: underline;
}
 
a>h1{
    color: var(--blue50);
}


/* Class basique */

.w50{
    width: 50%;
}

.h100{
    height: 100vh;
}

.h80{
    height: 80vh;
}

.gap10{
    display: flex;
    gap: 0.625rem;
}

.gap20{
    display: flex;
    gap: 1.25rem;
}

.gap40{
    display: flex;
    gap: 2.5rem;
}

.flex-direction-column{
    display: flex;
    flex-direction: column;
}

.flex-direction-row{
    display: flex;
    flex-direction: row;
}

.align-item-center{
    display: flex;
    align-items: center;
}

.align-items-flex-end{
    align-items: flex-end;
}

.justify-content-flex-end{
    display: flex;
    justify-content: flex-end;
}

.justify-content-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.nowrap{
    white-space: nowrap; 
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 10vh;
}

.header_breadcrumb {
    font-size: 1rem;
    color: var(--blue20);
}

.header_title {
    font-size: 1rem;
    color: var(--blue10);
}

/* liseré */
.lisere {
    border-top: 1px solid var(--blue20);
}

/* scroll block */
.scroll-block{
    height: 80vh;
    overflow-y: auto;

    /* Firefox */
/*    scrollbar-width: none;*/

    /* IE / ancien Edge */
    /*-ms-overflow-style: none;*/
    
}

/* Chrome, Edge, Safari 
.scroll-block::-webkit-scrollbar {
  display: none;
}*/

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--blue-main);
}

::-webkit-scrollbar-thumb {
  background: var(--blue40);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--blue30);
}

/* style  mise en gras */
.bold{
    background-color: var(--blue90);
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    color: var(--blue10); 
    font-weight: 400;
    white-space: nowrap;
}

/* style sous ligné */
.underligne{
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    color: var(--blue10); 
    white-space: nowrap;
}

/* style box encadré */
.box{
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    border-left: 1px solid var(--blue30);
    p {
        color: var(--blue10);
    }
}

.little-box{
    border-radius: 2rem;
    border: 1px solid var(--blue30);
    padding: 0.25rem 0.8rem 0.2rem 0.8rem;
    p {
         font-size: 0.8rem;
    }
}

.box-projet{
    padding: 2rem;
    height: 100%;
    border: 1px solid var(--blue30);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 400ms;

    .material-symbols-outlined{
        font-size: 4rem;
        color: var(--blue10);   
        display: flex;
        justify-content: flex-end;
    }
}

.box-projet:hover{
    background-color: var(--blue80);
    h2{
        text-decoration: underline;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.2rem;
    }
}

.box-projet:active{
    background-color: var(--blue90);
    h2{
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
    }
}
